@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
    font-family: 'Roboto', sans-serif;
}


nav{
    padding: 40px 0 40px 70px;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 32px;
}

nav ul{
    display: flex;
    gap: 32px;
    list-style-type: none;
}

nav ul li a {
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 22px;
    color: #C4C4CC;
}

nav ul a:hover, nav ul a.active{
    color: #FFFFFF;
    font-weight: 700;
    transition-duration: .5s;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 24px;
    margin-top: 170px;
}

main.exploration, main.universe{
    gap: 16px;
    justify-content: left;
    align-items: start;
    max-width: 648px;
    margin: 63px 0 0 100px;
}

main p{
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    color: #E1E1E6;
}

main h1{
    font-weight: 700;
    font-size: 48px;
    line-height: 125%;
    color:  #E1E1E6;
}

main .redirect{
    padding: 12px 32px;
    border-radius: 5px;
    background: none;
    border: 2px solid #FFFFFF;

    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
    cursor: pointer;
    text-decoration: none;
}